<!-- ALL THE BLOGS AND THE MAIN PAGE -->

<!-- Slider Section -->

<%- partial('_partial/slider') %>

<section id="offer" class="clean-section-wrapper clean-offer-section ">
        <div class="row-width">

            <!-- Blogs -->
            <% page.posts.each(function (post) { %>
                <div class="col-md-12 col-sm-12 col-xs-12 clean-section-header wow fadeInDown">
                    <h2>
                        <a class="clean-color-contras" href="<%- url_for(post.path) %>">
                            <%= truncate(strip_html(post.title), {length: 8, omission: '...'}) %>
                        </a>
                    </h2>
                    <div class="post-meta">
                        <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %><br/><br/></span>
                    </div>
                    <p class="col-md-offset-1">
                        <%- truncate(strip_html(post.content), {length: 100, omission: '......'}) %>
                        <br/><br/>
                    </p>
                </div>
            <% }) %>
            <!-- Blogs End -->

            <div class="archive-position">
                <%- partial('_partial/archive') %>
            </div>

            <!-- Pageing -->
            <div class="pager-position">
                <%- partial('_partial/paginator') %>
            </div>

        </div>
</section>